[submodule "common/platforms/bdf"]
	path = common/platforms/bdf
	url = https://github.com/Avnet/bdf.git
[submodule "common/overlays/Vitis_Libraries"]
	path = common/overlays/Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries.git
[submodule "common/petalinux/meta-avnet"]
	path = common/petalinux/meta-avnet
	url = https://github.com/Avnet/meta-avnet.git
	branch = 2022.1
[submodule "common/petalinux/meta-ros"]
	path = common/petalinux/meta-ros
	url = https://github.com/ros/meta-ros.git
